<form [formGroup]="choferForm" (ngSubmit)="onSubmit()">
    <h1>ALTA CHOFER</h1>

    <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre">
    <div *ngIf="showErrors && choferForm.get('nombre')?.invalid" class="error">
        El nombre es obligatorio y solo debe contener letras.
    </div>

    <input type="text" id="dni" formControlName="dni" placeholder="DNI">
    <div *ngIf="showErrors && choferForm.get('dni')?.invalid" class="error">
        El DNI es obligatorio y debe tener 8 dígitos.
    </div>

    <input type="number" id="edad" formControlName="edad" placeholder="Edad">
    <div *ngIf="showErrors && choferForm.get('edad')?.invalid" class="error">
        La edad es obligatoria y debe estar entre 18 y 50.
    </div>

    <input type="text" id="licencia" formControlName="licencia" placeholder="Nro de licencia">
    <div *ngIf="showErrors && choferForm.get('licencia')?.invalid" class="error">
        El número de licencia es obligatorio y debe tener al menos 7 dígitos.
    </div>

    <label for="licenciaProfesional">¿Tiene licencia profesional?</label>
    <input type="checkbox" id="licenciaProfesional" formControlName="licenciaProfesional">

    <app-lista-paises (paisSeleccionado)="choferForm.patchValue({ nacionalidad: $event })"></app-lista-paises>
    <div *ngIf="showErrors && choferForm.get('nacionalidad')?.invalid" class="error">
        La nacionalidad es obligatoria.
    </div>

    <button type="submit">DAR DE ALTA</button>
</form>