<body>
    <div [ngClass]="{'no-scroll': isLoginOrRegister}">
        <div class="nav">
            <div class="button-group">
                <button routerLink="home" routerLinkActive="active-route">INICIO</button>
                <button routerLink="usuarios" routerLinkActive="active-route">USUARIOS</button>
            </div>
        </div>

        <div class="form-container1">
            <router-outlet></router-outlet>
        </div>
            <router-outlet></router-outlet>
    </div>
</body>

