<div class="nav">
    <div class="button-group">
        <button routerLink="home" routerLinkActive="active-route">INICIO</button>
        <button routerLink="altaChofer" routerLinkActive="active-route">ALTA CHOFER</button>
    </div>
    <div class="login-button-container" *ngIf="!isLoggedIn">
        <button routerLink="login" routerLinkActive="active-route">INICIAR SESION</button>
    </div>
    <div class="register-button-container" *ngIf="!isLoggedIn">
    </div>
    <div class="logout-button-container" *ngIf="isLoggedIn"> 
        <button (click)="logout()">CERRAR SESION</button>
    </div>
</div>

<div class="form-container1">
<router-outlet></router-outlet>
</div>

<div class="form-container">
    <app-login *ngIf="router.url === '/login'" (loginStatusChange)="setLoginStatus($event)"></app-login>
</div>

