<body>
    <div class="login-container">
      <h2 class="titulo">INICIAR SESION</h2>
    
      <form (submit)="onSubmit()">
        <div class="input-container">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Login%2FCorreo.png?alt=media&token=19f459bf-e240-4ffb-9768-9364b4a948ec" class="input-icon" alt="user-icon">
        <input type="text" [(ngModel)]="username" name="usuario" placeholder="Correo electrónico" required>
      </div>
      
      <div class="input-container">
        <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Login%2FCandadoW.png?alt=media&token=2f6f1f2f-4fb8-4c41-91d5-60a9ff3fa99f" class="input-icon" alt="password-icon">
        <input type="password" [(ngModel)]="password"name="correo" placeholder="Contraseña" required>
      </div>
      
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      
      <div class="buttons-container">
        <button type="submit">Iniciar Sesión</button>
      </div>
    </form>
    
    <div class="acceso-rapido">
      <label for="acceso-rapido" class="acceso-rapido-label">Accesos Rápidos</label>
      
      <div class="acceso-rapido-row">
        <button class="acceso-rapido-btn paciente" (click)="fillPaciente1()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fpaciente.png?alt=media&token=2e59f333-e3d4-427a-bd5e-ea59472ac396" alt="Paciente 1" class="logo">
        </button>
        <button class="acceso-rapido-btn paciente" (click)="fillPaciente2()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fpaciente.png?alt=media&token=2e59f333-e3d4-427a-bd5e-ea59472ac396" alt="Paciente 2" class="logo">
        </button>
        <button class="acceso-rapido-btn paciente" (click)="fillPaciente3()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fpaciente.png?alt=media&token=2e59f333-e3d4-427a-bd5e-ea59472ac396" alt="Paciente 3" class="logo">
        </button>
      </div>

      <div class="acceso-rapido-row">
        <button class="acceso-rapido-btn especialista" (click)="fillEspecialista1()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fdoctor.png?alt=media&token=d9d6a78a-ad6a-4e8c-abd7-4a69f26fd7df" alt="Especialista 1" class="logo">
        </button>
        <button class="acceso-rapido-btn especialista" (click)="fillEspecialista2()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fdoctor.png?alt=media&token=d9d6a78a-ad6a-4e8c-abd7-4a69f26fd7df" alt="Especialista 2" class="logo">
        </button>
        <button class="acceso-rapido-btn admin" (click)="fillAdmin()">
          <img src="https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/Registro%2Fdoctor.png?alt=media&token=d9d6a78a-ad6a-4e8c-abd7-4a69f26fd7df" alt="Admin" class="logo">
        </button>
      </div>
      
    </div>
    <a href="/registro" class="register-link">Quiero registrarme</a>
  </div>
</body>