@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tpclinica-bartel.appspot.com/o/General%2FHospital%20Bartel.jpeg?alt=media&token=3f838801-78f3-4374-86e0-db83ab37e701');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: #16243e;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-family: 'Roboto';
    overflow-y: hidden;
}

.titulo {
    font-size: 26px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: 'Roboto';
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #00bccd;
    padding-bottom: 8px;
}

.input-icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

input[type="text"],
input[type="password"] {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

.error-message {
    color: #ff4d4d;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

button {
    background-color: #1bb3c1;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #006aff;
}

button:active {
    transform: scale(0.95);
}

.quick-access {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.quick-access button {
    width: 48%;
    background-color: #6e6e6e;
    font-family: 'Roboto', sans-serif;
}

.quick-access button:hover {
    background-color: #454545;
}

.register-link {
    color: #00bccd;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
}

.register-link:hover {
    color: #007bff;
}

.acceso-rapido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.acceso-rapido-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}


/* Fila de botones */
.acceso-rapido-row {
    display: flex;
    gap: 20px;
}

.acceso-rapido-btn {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.acceso-rapido-btn .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.paciente {
    background-color: red;
}

.paciente:hover {
    transform: scale(1.1);
    background-color: darkred;
}

.paciente .logo {
    filter: brightness(0) invert(1);
}

.especialista {
    background-color: green;
}

.especialista:hover {
    transform: scale(1.1);
    background-color: darkgreen;
}

.especialista .logo {
    filter: brightness(0) invert(1);
}

.admin {
    background-color: grey;
}

.admin:hover {
    transform: scale(1.1);
    background-color: darkgrey;
}

.admin .logo {
    filter: brightness(0) invert(1);
}