body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5); /* Degradado como fondo */
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    max-width: 500px;
    width: 100%;
    padding: 60px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Sombra para destacar el panel */
    text-align: center;
}

form {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px; 
    border-bottom: 2px solid #ccc;
    padding-bottom: 8px;
}

.input-icon {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

input[type="text"],
input[type="password"] {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    background-color: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: none;
    outline: none;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
}

button:active {
    transform: scale(0.95);
}

.quick-access {
    display: flex;
    justify-content: space-between; 
    margin-top: 15px;
}

.quick-access button {
    width: 48%; /* Para que ambos botones ocupen el mismo espacio en la línea */
    background-color: #6e6e6e;
}

.quick-access button:hover {
    background-color: #454545;
}